body {
	background-color: #141010;
}

.result{
	font-size:200%;
	text-align: center;
	color: red;
	margin-top: 100px;
}

div {
  display: flex;
  justify-content: center;
}
.choosetext{
	width:100%;
}

.op {
	font-size:200%;
	text-align: center;
	color: red;
	margin-top: 0px;
}
.choosetext{
	margin-bottom: 0px;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: red;
}
.endtext{
	font-size:600%;
	text-align: center;
	color: red;
	margin-top: 0px;
}